<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <%= link_to '作品一覧', articles_path, class: 'navbar-brand' %>
      </li>
      <li class="nav-item">
        <%= link_to '音楽一覧', musics_path, class: 'navbar-brand' %>
      </li>
      <li class="nav-item">
        <%= link_to 'アクター一覧', actor_tags_path, class: 'navbar-brand' %>
      </li>
      <li class="nav-item">
        <%= link_to '音楽タグ一覧', music_tags_path(only: true), class: 'navbar-brand' %>
      </li>
    </ul>
  </nav>
</div>
