<%= render "modal", title: "Musics" do %>
  <h1>New music</h1>

  <%= render partial: 'form', locals: { music: @music } %>

  <br>

  <div>
    <%= link_to "Back to musics", shared_musics_path %>
  </div>
<% end %>
