<div id="<%= dom_id music %>">
  <div class="row m-2" >
    <div class="col-1 fw-bold">タイトル</div>
    <div class="col-10">
      <%= link_to music.title, music.url, target: :_blank %>
    </div>
  </div>
  <div class="row m-2" data-controller="copy">
    <div class="col-1 fw-bold">タグ</div>
    <div class="col-10" data-copy-target="content"><pre><%= music.music_tag_musics.pluck(:music_tag_id) %></pre></div>
  </div>
  <div class="row m-2" data-controller="copy">
    <div class="col-1 fw-bold">感想</div>
    <div class="col-10" data-copy-target="content"><pre><%= music.note %></pre></div>
  </div>
</div>
